title: Aviation 2040
description: "The future of aviation is here! Supersonic flights in 3 hours, electric & hydrogen aircraft, flying taxis, vertiports, space tourism, and the end of kerosene."
url: https://futureaviation6.github.io
baseurl: ""
permalink: pretty
future: true

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: default

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
